@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sanchez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .disabled {
    @apply text-light-gray;
  }
  .highlighted {
    @apply text-white rounded px-1 py-[2px];
  }
  .btn {
    @apply py-2 px-6 w-24 m-1 cursor-pointer transition-all rounded-lg font-semibold uppercase;
  }
  .error {
    @apply text-red font-semibold text-[5px];
  }
}

/* ----------- GENERAL THEME ----------- */

:root {
  /* FONTS */
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: var(--darkGray);

  /* COLORS */
  --white: #ffffff;
  --black: #020204;
  --gray: #8f98aa;
  --darkGray: #5b6578;
  --lightGray: #d9dce2;
  --lightestGray: #f1f2f4;
  --whiteGray: #f7f8f9;
  /*-- palette --*/
  --green: #57b914;
  --darkGreen: #469610;
  --purple: #7e45db;
  --lightPurple: #e8e5f9;
  --purpleSelect: #905fe0;
  --pink: #de148b;
  --blue: #4f40bf;
}

::selection {
  background-color: var(--purpleSelect);
  color: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-x: hidden;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--lightGray);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--lightGray);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: 14px;
}
