@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sanchez&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .CONTROL {
    @apply border border-light-gray;
  }
  .disabled {
    @apply text-light-gray;
  }
  .selected {
    @apply bg-purple text-white rounded;
  }
}

/* ----------- GENERAL THEME ----------- */

:root {
  /* FONTS */
  font-family: Inter, sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-x: hidden;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d9dce2;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #d9dce2;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #7e45db;
  border-radius: 14px;
}
