@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sanchez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-gen {
    @apply border border-light-gray;
  }
  .disabled {
    @apply text-light-gray;
  }
  .today {
    @apply bg-purple text-white rounded px-1 py-[2px];
  }
  .today-hl {
    @apply shadow-highlight shadow-purple;
  }
  .selected {
    @apply bg-light-purple text-white rounded px-1 py-[2px];
  }
  .selected-hl {
    @apply shadow-highlight shadow-light-purple;
  }
  .swapper-active {
    @apply py-2 px-6 w-24 m-1 bg-purple text-white rounded-lg cursor-default;
  }
  .swapper-hover {
    @apply py-2 px-6 w-24 hover:text-purple hover:font-bold transition-all;
  }
  .gen-link {
    @apply py-2 px-6 w-24 m-1 bg-purple text-white rounded-lg uppercase cursor-pointer hover:bg-mid-purple transition-all;
  }
  /* .color-active {
    @apply ;
  } */
}

/* ----------- GENERAL THEME ----------- */

:root {
  /* FONTS */
  font-family: Inter, sans-serif;
  font-weight: 400;

  /* COLORS */
  --white: "#ffffff";
  --black: "#020204";
  --gray: "#8f98aa";
  --purple: "#7e45db";
  --pink: "#de148b";
}

::selection {
  background-color: #905fe0;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-x: hidden;
  background-color: #f7f8f9;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d9dce2;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #d9dce2;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #7e45db;
  border-radius: 14px;
}
